
*{
  margin: 0;    /*toujours a mettre dans le css*/
  padding: 0;
  box-sizing: border-box;

}

:root{
  --couleur-haut: rgba(255, 162, 0);
  --couleur-case: rgba(185, 185, 185);
  --couleur-background-generale: rgba(91, 91, 91);
}

body{
  background-color: var(--couleur-background-generale);
}


.corp_centre{
  display: flex;
  justify-content: space-around;
  grid-column: 1 / 6;
  grid-row: 2 / 9;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.one {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 1;
  padding-top: 20px;
  padding: 20px;}

.two{
  padding-top: 3%;
  padding-left: 3%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: var(--couleur-case);
  width: 41%;
}

.three {
  padding: 20%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--couleur-haut);
  width: 45%;
}

.four {
  text-align: center;
  grid-column: 1 /6;
  grid-row: 9;
  padding-top: 10px;
  padding: 40px;
  background-color: var(--couleur-background-generale);
}

.title{
  color: var(--couleur-haut);
  font-size: 80px;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

h1{
  font-family: monospace;
  font-size: 50px;
}

#button{
  background-color: var(--couleur-haut);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
}

.field7{
  width: 80%;
  margin-bottom: 20px;
}

#bouton1 #button2 #button3 #button4 #button6 #button7 #button8{
  padding: 10px;
}

.content{
  display: none;
}